# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini